:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  /* --modal-overlay-color: #2e2f42; */
  --hero-background-color: #2e2f42;
  --white-background-color: #fff;
  --modal-background-color: #fcfcfc;
  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header-section {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  position: relative;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
  transition: color 250ms var(--transition-cub);
}

.menu-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.current {
  color: var(--pressed-state-color);
}

.menu-item.current::after {
  background-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: inline-block;
}

.logo-span {
  color: var(--dark-color);
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  font-style: normal;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  transition: color 250ms var(--transition-cub);
}

.menu-item:hover,
.menu-item:focus,
.address-item:hover,
.address-item:focus {
  color: var(--pressed-state-color);
}

/* hero */

.hero {
  max-width: 1440px;
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  color: var(--white-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.box-btn {
  text-align: center;
}

.hero-btn {
  color: var(--white-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms var(--transition-cub);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}

/* Benefits */

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-wrap-icon {
  background-color: var(--light-color);
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.benefit-title {
  margin-bottom: 8px;
}

.item-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* What are we doing */

.work-section {
  padding-top: 0;
}

.title-section {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Our Team */

.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-description {
  padding: 32px 0;
}

.center {
  text-align: center;
  margin-bottom: 8px;
}

.social-txt {
  font-weight: 500;
  padding-bottom: 16px;
}

.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  background-color: var(--primary-brand-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--transition-cub);
}
.team .social-link:hover,
.team .social-link:focus {
  background-color: var(--pressed-state-color);
}

.icon-svg {
  fill: var(--light-color);
}

/* Customers */

.customers-list {
  fill: var(--subtle-text-color);
  display: flex;
  gap: 24px;
  justify-content: center;
  transition: fill 250ms var(--transition-cub);
}
.customers-list svg:hover {
  fill: var(--pressed-state-color);
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  /* border-radius: 4px;
  border: 1px solid var(--subtle-text-color); */
  /* padding: 16px 32px; */
  /* transition: border 250ms var(--transition-cub); */
}

.customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--subtle-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-color);
  padding: 16px 32px;
  transition: border-color 250ms var(--transition-cub),
    color 250ms var(--transition-cub);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customers-icon {
  fill: currentColor;
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo-box {
  margin-right: 120px;
}

.footer .logo {
  margin-bottom: 16px;
}

.footer .logo-span {
  color: var(--light-color);
}

.footer .item-text {
  color: var(--light-color);
}

.footer-txt {
  width: 264px;
}

.footer .social-txt {
  color: var(--white-background-color);
  margin-bottom: 16px;
  padding-bottom: 0;
}

.footer .social {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--success-color);
}

.subscribe {
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  gap: 24px;
}

.subscribe-imput {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-background-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: var(--white-background-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-imput::placeholder {
  color: var(--white-background-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-imput:focus-within {
  color: var(--white-background-color);
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-brand-color);
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  color: var(--white-background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms var(--transition-cub);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-icon {
  margin-left: 16px;
}

/* Portfolio */

.section-portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-menu {
  display: flex;
  gap: 24px;
  padding: 0 271px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-menu li:nth-child(2) {
  flex-shrink: 0;
}

.portfolio-btn {
  color: var(--primary-brand-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms var(--transition-cub),
    border-color 250ms var(--transition-cub), color 250ms var(--transition-cub),
    box-shadow 250ms var(--transition-cub);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  background: var(--pressed-state-color);
  border: 1px solid transparent;
  color: var(--white-background-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Pictures of works */

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-img-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms var(--transition-cub);
}
.portfolio-img-item:hover,
.portfolio-img-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--transition-cub);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover p,
.portfolio-link:focus p {
  transform: translateY(0%);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-cub);
}

.portfolio-img-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-img-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-description {
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-description h2 {
  margin-bottom: 8px;
}

.txt {
  color: var(--text-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--transition-cub),
    visibility 250ms var(--transition-cub);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--transition-cub);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(70%);
  opacity: 0;
}

.modal-btn {
  background-color: var(--accent-color);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms var(--transition-cub),
    border 250ms var(--transition-cub);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms var(--transition-cub);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white-background-color);
}

/* Form */

.form-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: var(--dark-color);
}

.form-wrap {
  margin-bottom: 8px;
}

.form-label {
  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.form-box {
  position: relative;
}

.form-imput {
  fill: var(--dark-color);
  height: 40px;
  width: 100%;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms var(--transition-cub);
}

.form-imput:focus {
  outline: transparent;
  border-color: var(--primary-brand-color);
  padding-left: 38px;
}

.form-icon {
  fill: var(--dark-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cub);
}

.form-icon:hover,
.form-icon:focus {
  fill: var(--primary-brand-color);
}

.form-imput:focus + .form-icon {
  fill: var(--primary-brand-color);
}

.form-wrap-comment {
  margin-bottom: 16px;
}

.form-textarea {
  resize: none;
  height: 120px;
  width: 100%;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms var(--transition-cub);
}

.form-textarea:focus {
  outline: transparent;
  border-color: var(--primary-brand-color);
}

.form-wrap-checkbox {
  margin-bottom: 24px;
}

.label-checkbox {
  display: flex;
  align-items: center;
  display: block;
}

.agreement-box {
  fill: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--transition-cub),
    border 250ms var(--transition-cub), fill 250ms var(--transition-cub);
}

input[type="checkbox"]:checked + .label-checkbox > .agreement-box {
  background-color: var(--pressed-state-color);
  fill: var(--light-color);
  border: none;
}

.form-link {
  color: var(--primary-brand-color);
}
